#intro {
  font-family: cursive;
  text-align:center;
}

.tab-list {
  height:50px;
}

.centered {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:black;
}

.tablinks button {
    display: block;
    background-color: inherit;
    color: white;
    padding: 22px 16px;
    width: 100%;
    outline: none;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
  background-color: #111;
  cursor: pointer;
}

.tablinks {
  background-color: #333;
  width: 100%;
  height: 100%;
  color: white;
}

.collapse {
  display: none;
}

img.carouselImage {
  width:100%;
  height:420px;
}
img {
  width:500;
  height:250;
}
.outPut{
  width: 100%;

}

.cell {
  /* border-style: solid;
  border-width: medium; */
  margin-top: 10px;
  background-image: linear-gradient(silver, white);
  cursor: pointer;

}

.cell p {
  margin-left:5%;
}

.cell h2 {
  padding-top:3%;
  margin-left:5%;
}

#bottom {
  padding-bottom: 3%;
}

.hidden {
  display: none;
  margin-top: 5%;
}

.mapOfKinshasa, .mapOfLubumbashi, .mapOfMbuji,  .mapOfKananga, .mapOfKisangani, .mapOfGoma, .mapOfGoma, .mapOfBukavu, .mapOfTshikapa, .mapOfKolwezi, .mapOfMasina {
  display: none;

}
.address1, .address2, .address3, .address4, .address5, .address6, .address7, .address8, .address9, .address10 {
/* border-style: solid;
border-width: medium; */
margin-top: 2%;
display:none;
background-image: linear-gradient(silver, white);
padding-top: 3%;
padding-left: 3%;

}

.jumbotron {
  text-align: center;
  box-shadow: 3px 3px 3px gray;
  background-color: #7986CB;
}

.format {
  cursor: pointer;
  display: none;
}

form {
  /* background-color: #9F9FF0; */
  background-color: #E5E5EF;
}

.btn-primary {
  margin-bottom: 3%;
  margin-top: 2%;
}

#margName {
  margin-top: 2%;
}

iframe {
  margin-top:2%;
}

#marg {
  margin-left: 1%;
  margin-right: 1%;
  padding-top:1%;
}

#marg2 {
  margin-top: 3%;
}
